@use 'index' as *;

@mixin colorize($colorKey) {
  $color: map-get($palette, $colorKey);

  background: map-get($palette, 'white-gradient'), $color;

  &>.category {
    color: $color;
  }
}

:host {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 16rem;
  width: 100%;

  @include desktop {
    width: 288rem;
  }

  &.reaction {
    @include colorize('Red');
  }

  &.memory {
    @include colorize('Yellow');
  }

  &.verbal {
    @include colorize('Green');
  }

  &.visual {
    @include colorize('Blue');
  }
}

.category {
  margin-left: 12rem;

  // Typography
  font-weight: 500;

  @include mobile {
    font-size: 16rem;
    line-height: 21rem;
  }

  @include desktop {
    font-size: 18rem;
    line-height: 23rem;
  }
}

.score {
  margin-left: auto;

  // Typography
  font-weight: 700;
  color: map-get($palette, 'Dark Navy');

  @include mobile {
    font-size: 16rem;
    line-height: 21rem;
  }

  @include desktop {
    font-size: 18rem;
    line-height: 23rem;
  }

  .denominator {
    opacity: 0.5;
  }
}
